-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-o-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@-viewport {width: device-width; scale: 1; }


*, *::before, *::after{ 
	box-sizing: inherit;
}

html{
	-moz-text-size-adjust:100 ;
	-ms-text-size-adjust:100 ;
	-webkit-text-size-adjust:100 ;
	text-size-adjust:100 ;

	box-sizing: border-box;

	margin:0;
	padding:0;
	font-family: 'Noto Sans';
}

h1 {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 4rem;
	padding: auto;
	margin: auto;
	text-align: center;
}
.img header{
	width: 50%;
}
header{
	background-color: #e7001d;
	padding: 0.5em 0em 0em 0.5em;
	margin: 0;
	text-align:center;
}
.menu{
	background-color:black;
	color: white;
	margin:auto;
	}

nav ul li {
	color: white;
	background-color: black;
	display:inline-block;
	margin:0.5em;
	padding: 0.5em 0em 0em 0.5em;
	border:1px solid:black;
} 

div.nav-menu:hover{
	color: white;
	background-color: black;
}
img {
		width:50%
	}
.img banner.jpg{
	width:100%;
}
img[width="100"]{
   float:right;
}
.article1 {
    background-image: url("banner.jpg");
    display: block;

}
.article2 {
	background-color: #e4c22a;
	text-align: center; 
	float:right;
}
.article3{
	color: white;
	background-color: black;
	text-align: center;
	float:left;
}
.article4{
	color: white;
	background-color: #bc0017;
	text-align: center;
	loat:right; 
}
.article5{
	background-color: #e4c22a; 
	text-align: center; 
	float:left;
}